.App {
	/* text-align: center; */
  	background-color: white; 
	max-width: 800px;
	max-height: 450px;
	width: 100%;
	height: 450px;
	border-color: black;
	border-style: solid;
}

.input-form {
	float: left;
	 opacity: 0; 
}

.wordContainer {
	height:450px;
	  position: fixed;
  top: 0;
  left: 0;
  width:100%;

}

.populated-list {
	list-style: none;
}

.falling-word {
	max-height:50px;
	position:fixed;
	top:0;
}